<style include="cr-shared-style settings-shared site-review-shared">
  :host {
    display: block;
    padding: 0 var(--cr-section-padding);
  }
</style>
<template is="dom-if" if="[[!shouldShowCompletionInfo_]]">
  <div class="header-with-icon">
    <iron-icon role="img" icon="cr:info-outline" class="header-icon">
    </iron-icon>
    <cr-expand-button class="header-group-wrapper" no-hover
        expanded="{{unusedSitePermissionsReviewListExpanded_}}">
      <h2>[[headerString_]]</h2>
      <div class="secondary">[[subtitleString_]]</div>
    </cr-expand-button>
  </div>
  <iron-collapse class="site-list"
      opened="[[unusedSitePermissionsReviewListExpanded_]]">
    <template is="dom-repeat" items="[[sites_]]">
      <div class$="cr-row site-entry [[getRowClass_(item.visible)]]">
        <site-favicon url="[[item.origin]]"></site-favicon>
        <div class="display-name cr-padded-text">
          <div class="site-representation">[[item.origin]]</div>
          <div class="secondary">[[getPermissionsText_(item.permissions)]]</div>
        </div>
        <cr-icon-button iron-icon="settings20:undo" on-focus="onShowTooltip_"
            actionable on-mouseenter="onShowTooltip_"
            aria-label="[[getAllowAgainAriaLabelForOrigin_(item.origin)]]"
            on-click="onAllowAgainClick_">
        </cr-icon-button>
      </div>
    </template>
    <div class="cr-row first">
      <cr-button class="bulk-action-button" on-click="onGotItClick_">
        $i18n{safetyCheckUnusedSitePermissionsGotItLabel}
      </cr-button>
    </div>
  </iron-collapse>
  <paper-tooltip fit-to-visible-bounds manual-mode position="top" offset="3">
    $i18n{safetyCheckUnusedSitePermissionsAllowAgainLabel}
  </paper-tooltip>
</template>
<template is="dom-if" if="[[shouldShowCompletionInfo_]]">
  <div class="header-with-icon">
    <iron-icon role="img" icon="cr:check"></iron-icon>
    <div class="header-group-wrapper">
      $i18n{safetyCheckUnusedSitePermissionsDoneLabel}
    </div>
  </div>
</template>
<cr-toast id="undoToast" duration="5000">
  <div>[[toastText_]]</div>
  <cr-button on-click="onUndoClick_">
    $i18n{safetyCheckUnusedSitePermissionsUndoLabel}
  </cr-button>
</cr-toast>
