<style>
  /* TODO(crbug.com/1350406): update the style after UI design
   spec is finalized.*/
  #container {
    align-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    height: auto;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    max-width: 1500px;
    padding: 50px;
    width: auto;
  }

  .dropdown-item-label {
    flex: 1;
    padding-inline-end: 30px;
  }

  hr {
    border-top: var(--cr-separator-line);
    height: 0;
  }

  cr-checkbox::part(label-container) {
    clip: rect(0,0,0,0);
    display: block;
    position: fixed;
  }
</style>

<div id="container">
  <template is="dom-repeat" items="[[apps_]]">
    <app-item app-info="[[item]]"></app-item>
  </template>
</div>

<cr-action-menu id="menu" hidden="{{!selectedActionMenuModel_}}">
  <div id="open-in-window" tabindex="0" class="dropdown-item"
      on-click="onOpenInWindowItemClick_"
      hidden="[[isOpenInWindowHidden_(selectedActionMenuModel_)]]">
    <div class="dropdown-item-label">
      Open in window
    </div>
    <cr-checkbox checked="{{selectedActionMenuModel_.appInfo.openInWindow}}"
      on-click="onOpenInWindowItemClick_">
        Enable opening app in window
    </cr-checkbox>
  </div>
  <div id="launch-on-startup" tabindex="0" class="dropdown-item"
      on-click="onLaunchOnStartupItemClick_"
      hidden="[[isLaunchOnStartupHidden_(selectedActionMenuModel_)]]">
    <div class="dropdown-item-label">
      Launch on startup
    </div>
    <cr-checkbox
      checked="[[isLaunchOnStartUp_(selectedActionMenuModel_)]]"
      disabled=
        "[[isLaunchOnStartupDisabled_(selectedActionMenuModel_)]]"
      on-click="onLaunchOnStartupItemClick_">
        Enable launching app on startup
    </cr-checkbox>
  </div>
  <button id="create-shortcut" class="dropdown-item"
      on-click="onCreateShortcutItemClick_">
    Create a shortcut
  </button>
  <hr>
  <button id="uninstall" class="dropdown-item"
      on-click="onUninstallItemClick_">
    Uninstall
  </button>
  <button id="app-settings" class="dropdown-item"
      on-click="onAppSettingsItemClick_">
    App settings
  </button>
</cr-action-menu>
