<style include="cr-icons realbox-dropdown-shared-style">
  :host {
    user-select: none;
  }

  #selector {
    background-color: var(--color-realbox-results-background);
    border-radius: calc(0.25 * var(--ntp-realbox-height));
    box-shadow: var(--ntp-realbox-shadow);
    display: block;
    margin-bottom: 8px;
    overflow: hidden;
    padding-bottom: 8px;
    padding-top: var(--ntp-realbox-height);
  }

  :host([round-corners]) #selector {
    border-radius: calc(0.5 * var(--ntp-realbox-height));
    padding-bottom: 18px;
  }

  @media (forced-colors: active) {
    #selector {
      border: 1px solid ActiveBorder;
    }
  }

  ntp-realbox-match {
    color: var(--color-realbox-results-foreground);
  }

  .header {
    align-items: center;
    display: flex;
    margin-top: 8px;
    outline: none;
    padding-bottom: 6px;
    padding-inline-end: 16px;
    padding-inline-start: 12px;
    padding-top: 6px;
  }

  .header .text {
    color: var(--color-realbox-results-foreground-dimmed);
    cursor: default;
    font-size: .875em;
    font-weight: 500;
    overflow: hidden;
    padding-inline-end: 8px;
    padding-inline-start: 8px;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .header:focus-within:not(:focus) cr-icon-button {
      --cr-icon-button-fill-color:
          var(--color-realbox-results-icon-selected);
  }

  ntp-realbox-match:-webkit-any(:hover, :focus-within, .selected),
  .header:-webkit-any(:hover, :focus-within) {
    background-color:
        var(--color-realbox-results-background-hovered);
  }

  @media (forced-colors: active) {
    ntp-realbox-match:-webkit-any(:hover, :focus-within, .selected),
    .header:-webkit-any(:hover, :focus-within) {
      background-color: Highlight;
    }
  }
</style>
<iron-selector id="selector" selectable="ntp-realbox-match"
    items="{{selectableMatchElements_}}" selected="{{selectedMatchIndex}}"
    selected-class="selected">
  <template is="dom-repeat" items="[[groupIds_(result.matches.*)]]"
      as="groupId">
    <template is="dom-if" if="[[hasHeaderForGroup_(groupId)]]">
      <!-- Header cannot be tabbed into but gets focus when clicked. This stops
           the dropdown from losing focus and closing as a result. -->
      <div class="header" data-id$="[[groupId]]" tabindex="-1"
          on-focusin="onHeaderFocusin_" on-click="onHeaderClick_"
          aria-hidden="true">
        <span class="text">[[headerForGroup_(groupId)]]</span>
        <cr-icon-button class$="action-icon [[toggleButtonIconForGroup_(groupId, hiddenGroupIds_.*)]]"
            title="[[toggleButtonTitleForGroup_(groupId, hiddenGroupIds_.*)]]"
            aria-label$="[[toggleButtonA11yLabelForGroup_(groupId, hiddenGroupIds_.*)]]"
            on-mousedown="onToggleButtonMouseDown_">
        </cr-icon-button>
      </div>
    </template>
    <template is="dom-if" if="[[!groupIsHidden_(groupId, hiddenGroupIds_.*)]]"
        restamp>
      <template is="dom-repeat" items="[[result.matches]]" as="match"
          filter="[[matchIsInGroupFilter_(groupId)]]"
          on-dom-change="onResultRepaint_">
        <ntp-realbox-match tabindex="0" role="option" match="[[match]]"
            match-index="[[matchIndex_(match)]]">
        </ntp-realbox-match>
      </template>
    </template>
  </template>
</iron-selector>
