// Copyright 2020 The Carbon Authors
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

package org.Carbon.weblayer_private;

public final class WebLayerBundleUtils {
  public static final boolean IS_WEBLAYER_IN_SPLIT = {{ weblayer_in_split }};
}
