<style>
  #showToggleContainer {
    align-items: center;
    display: flex;
    font-size: 13px;
    line-height: 20px;
    margin: 0 16px 16px;
  }

  #showToggleTitle {
    flex-grow: 1;
  }

  #cards {
    display: flex;
    margin: 0 16px;
  }

  .card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .card-name {
    font-size: 13px;
    line-height: 20px;
    margin-inline-start: 24px;
  }

  .card-checkbox {
    margin-inline-end: 3px;
    width: 16px;
  }

  .card-option-name {
    margin-inline-start: 40px;
  }

  iron-collapse {
    --iron-collapse-transition-duration: 300ms;
    width: 100%;
  }

  hr {
    background-color: var(--horizontal-rule-color);
    border: none;
    height: 1px;
    margin-bottom: 16px;
    width: 100%;
  }

  cr-toggle {
    margin-inline-start: 16px;
  }
</style>
<div id="showToggleContainer">
  <div id="showToggleTitle">$i18n{showCardsToggleTitle}</div>
  <cr-policy-indicator indicator-type="devicePolicy"
      hidden="[[!managedByPolicy_]]">
  </cr-policy-indicator>
  <cr-toggle title="$i18n{showCardsToggleTitle}" checked="[[show_]]"
      disabled="[[managedByPolicy_]]"
      on-change="onShowChange_">
  </cr-toggle>
</div>
<div id="cards">
  <iron-collapse opened="[[show_]]">
    <hr>
    <template is="dom-repeat" items="[[modules_]]">
      <div class="card">
        <div class="card-name">[[item.name]]</div>
        <cr-checkbox class="card-checkbox" checked="{{item.enabled}}"
            disabled="[[managedByPolicy_]]"
            title="[[item.name]]" on-change="onCardStatusChange_">
        </cr-checkbox>
      </div>
      <template is="dom-if"
          if="[[showDiscountCheckbox_(item.id, item.enabled, discountCheckboxEligible_)]]">
        <div class="card">
          <div class="card-option-name">$i18n{modulesCartDiscountConsentAccept}</div>
          <cr-checkbox class="card-checkbox"
              checked="{{discountCheckbox_}}"
              disabled="[[managedByPolicy_]]"
              title="$i18n{modulesCartDiscountConsentAccept}"
              on-change="onDiscountCheckboxChange_">
          </cr-checkbox>
        </div>
      </template>
    </template>
  </iron-collapse>
</div>
