/* Copyright 2022 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/* #css_wrapper_metadata_start
 * #type=style
 * #import=./shared_vars.css.js
 * #import=chrome://resources/cr_elements/cr_shared_style.css.js
 * #include=cr-shared-style
 * #css_wrapper_metadata_end */

/* Custom scrollbar for the content area */
/* The default scrollbar on Windows doesn't fit with the dialog style. Also
  * it is wide and causes visual problems when the height of the content is
  * changed. */

.custom-scrollbar::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: var(--scrollbar-width);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--scrollbar-background);
  border-radius: var(--scrollbar-width);
}

.custom-scrollbar.hide-scrollbar::-webkit-scrollbar-thumb {
  visibility: hidden;
}

.header {
  margin-top: 48px;
  padding-bottom: 10px;
  text-align: center;
}

.header h1 {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin: 0;
}

.section {
  margin: 8px 90px;
}

privacy-sandbox-dialog-learn-more {
  display: block;
  margin: 0 90px;
}

.buttons-container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: var(--privacy-sandbox-dialog-buttons-row-height);
  justify-content: end;
  padding-bottom: 16px;
  padding-inline-end:
      var(--cr-dialog-button-container-padding-horizontal, 16px);
  padding-top: 16px;
  width: 100%;
}

.buttons-container cr-button+cr-button {
  margin-inline-start: 8px;
}

.content-area {
  border-color: transparent;
  border-style: solid;
  border-width: 1px 0;
  line-height: 20px;
  overflow-y: overlay;
  scroll-behavior: smooth;
}

:host(.fill-content),
.fill-content {
  height: 100vh;
}

:host(.fill-content) .content-area,
.fill-content .content-area  {
  bottom: var(--privacy-sandbox-dialog-buttons-row-height);
  position: absolute;
  top: 0;
}

:host(.fill-content) .buttons-container,
.fill-content .buttons-container {
  bottom: 0;
  position: fixed;
  right: 0;
}

.content-area.can-scroll {
  border-bottom-color: var(--scrollable-border-color);
}

ul,
ul.section {
  padding-inline-start: 16px;
}

li:not(:last-child) {
  padding-bottom: 8px;
}

.learn-more-section h2 {
  color: initial;
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  margin-bottom: 8px;
}

.learn-more-section b {
  color: initial;
  font-weight: 400;
}

.learn-more-section .paragraph {
  padding-bottom: 12px;
}

.learn-more-section > ul.cr-secondary-text {
  margin-top: 0;
}

/* Privacy sandbox banner */
.banner {
  height: 160px;
  margin: 16px 0;
  text-align: center;
}

/* Topics banner image */
img.topics-banner {
  content: url(images/topics_banner.svg);
}

@media (prefers-color-scheme: dark) {
  img.topics-banner {
    content: url(images/topics_banner_dark.svg);
  }
}

/* Fledge banner image */
img.fledge-banner {
  content: url(images/fledge_banner.svg);
}

@media (prefers-color-scheme: dark) {
  img.fledge-banner {
    content: url(images/fledge_banner_dark.svg);
  }
}

/* Chrome logo image */
img.logo {
  content: url(images/chrome_logo.svg);
  height: 40px;
  margin-bottom: 10px;
}

#showMoreOverlay {
  align-items: center;
  background: linear-gradient(0deg, var(--md-background-color), transparent);
  bottom: 0;
  display: flex;
  height: var(--privacy-sandbox-dialog-buttons-row-height);
  justify-content: center;
  position: fixed;
  width: 100%;
}

.more-content-available.content-area {
  bottom: 0 !important;
}
.more-content-available .buttons-container {
  position: static !important;
}

#moreButton {
  border-radius: 100px;
}
